# Server Environment Template
# Rename this file to '.env' and fill out the empty strings.

# The networking Port the Express API will occupy
PORT=5000

# Your MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/realtime-chat

# Secret JSON Web Token encoding key
JWT_SECRET=super_secret_jwt_signature_key
